/* #region Common CSS*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bool-dark:#000;
    --bool-light:#fff;
    --bool-darkenlight: rgb(225, 225, 225);
    --bool-editorial: rgb(33,170,237);
    --bool-goals: rgb(169,92,230);
    --bool-recruiting:rgb(59,199,170);
    --bool-mobile:rgb(252,153,10);
    --bool-website:rgb(233,69,158);
    --bool-sales: rgb(165,209,15);
}

.editorial::after{
    background-color: var(--bool-editorial);
    color: var(--bool-light);
    content: "Editorial";
    font-size: 0.6rem;
    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 0.5rem;
}
.goals::after{
    background-color: var(--bool-goals);
    color: var(--bool-light);
    content: "Q1 Goals";
    font-size: 0.6rem;
    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 0.5rem;
}
.recruiting::after{
    background-color: var(--bool-recruiting);
    color: var(--bool-light);
    content: "Recruiting";
    font-size: 0.6rem;
    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 0.5rem;
}
.mobile::after{
    background-color: var(--bool-mobile);
    color: var(--bool-light);
    content: "Mobile";
    font-size: 0.6rem;
    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 0.5rem;
}
.website::after{
    color: var(--bool-light);
    background-color: var(--bool-website);
    content: "Website";
    font-size: 0.6rem;
    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 0.5rem;
}
.sales::after{
    background-color: var(--bool-sales);
    color: var(--bool-light);
    content: "Sales";
    font-size: 0.6rem;
    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 0.5rem;
}

main{
    background-color: var(--bool-darkenlight);
}

h1, h2, h3, h4, h5, h6, p, span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    line-height: 1rem;
    padding: 1rem;
}
h2{
    line-height: 2rem;
}

/* #endregion Common CSS */

/* #region Utility CSS */

/* bs is for button with smooth border radius */
.bs{
    border-radius: 10px;
    padding: 0.5rem;
}

.p1{
    padding: 1rem;
}

/*.pb1{
    padding-bottom: 1rem;
} */

.pl2{
    padding-left: 2rem;
}

.pt3{
    padding-top: 3rem;
}

.p2{
    padding: 2rem;
}

.center{
    width: 80%;
    margin: auto;
}

.ib{
    display: inline-block;
}



/* #endregion Utility CSS */

/* #region Header CSS */

header{
    background-color: var(--bool-light);
}

.logo{
    vertical-align: middle;
}

.logo_payoff{
    font-size: 3rem;
    line-height: 50px;
}

/* #endregion Header CSS */

/* #region Main CSS */
.navigation_button{
    background-color: var(--bool-light);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 1px;
}

.add_task{
    background-color: var(--bool-editorial);
    color: var(--bool-light);
    border: 1px solid transparent;
}

.add_section{
    background-color: var(--bool-light);
    color: var(--bool-darkenlight);
    border: 1px solid var(--bool-darkenlight);
}

.workflow{
    background-color: var(--bool-light);
}

.title{
    padding-top: 1rem;
}
/* #endregion Main CSS */